<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I will Survive?</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h2>¿Puedo sufrir un accidente en mi bicicleta?</h2>
    <form action="http://localhost:5000" method="post" id="prediction">
        <div>
            <p>Ingresa tu latitud</p>
            <input type="number" step="0.0001" placeholder="latitud" name="latitude">
        </div>
        <div>
            <p>Ingresa tu longitud</p>
            <input type="number" step="0.0001" placeholder="longitud" name="longitude">
        </div>
        <div>
            <p>Ingresa el día</p>
            <input type="date" name="day">
        </div>
        <div>
            <p>Ingresa la delegación/alcaldía</p>
            <select name="town">
                <option value="azcapotzalco">Azcapotzalco</option>
                <option value="coyoacan">Coyoacan</option>
                <option value="cuajimalpa">Cuajimalpa de Morelos</option>
                <option value="gam">Gustavo A. Madero</option>
                <option value="iztacalco">Iztacalco</option>
                <option value="iztapalapa">Iztapalapa</option>
                <option value="magdalena">La Magdalena Contreras</option>
                <option value="milpa">Milpa Alta</option>
                <option value="alvaro">Álvaro Obregón</option>
                <option value="tlahuac">Tlahuac</option>
                <option value="tlalpan">Tlalpan</option>
                <option value="xochimilco">Xochimilco</option>
                <option value="benito">Benito Juarez</option>
                <option value="cuauhtemoc">Cuauhtemoc</option>
                <option value="miguel">Miguel Hidalgo</option>
                <option value="venustiano">Venustiano Carranza</option>
            </select>
        </div>
        <div>
            <p>Ingresa la hora actual</p>
            <input type="time" name="time">
        </div>
        <br>
        <div>
            <button type="submit">Calcular probabilidad</button>
        </div>
    </form>

</body>

</html>