[Unit]
Description=Gunicorn instance for a portfolio app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/porftolio
Environment="PATH=/home/ubuntu/portfolio/venv/bin"
ExecStart=/home/ubuntu/portfolio/venv/bin/uwsgi --ini portfolio.ini
Restart=always

[Install]
WantedBy=multi-user.target