[Unit]
Description=Gunicorn instance for a portfolio app
After=network.target

[Service]
Restart=on-failure
RestartSec=5s
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/porftolio
ExecStart=/home/ubuntu/.local/bin/uwsgi --ini portfolio.ini

[Install]
WantedBy=multi-user.target

